<!DOCTYPE html>
<html ng-app="smilefreeApp">
<head>
	<title>Smilefree</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- embeded styles -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
	<div class="container-fluid mt-30">
		<div class="col-lg-3 col-sm-3 hidden-xs">
			
		</div>
		<div class="col-lg-6 col-sm-6" ng-controller="galleryCtrl">
			
			<div class="feed-container well" ng-repeat="data in myWelcome.gallery">
				<h3>{{data.title}}</h3>
				<img src="{{data.src}}" class="img-thumbnail mt-30" alt="Cinque Terre"> 
				<label>{{data.category}}</label>
			</div>
			<!-- <div class="feed-container well">
				<h3>First image</h3>
				<video controls class="img-thumbnail mt-30">
				  <source src="assets/videos/dog.mp4" type="video/mp4">
				  Your browser does not support HTML5 video.
				</video>
			</div> -->
			<!-- <div ng-controller="galleryCtrl">
				<ul ng-repeat="data in myWelcome.gallery">
					<li>{{data.title}}</li>
					<li>{{data.src}}</li>
					<li>{{data.category}}</li>
				</ul>
			</div> -->
		</div>
		<div class="col-lg-3 col-sm-3 hidden-xs">
			
		</div>
	</div>
	<!-- embeded script files -->
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/script.js"></script>
	<script src="assets/js/galleryCtrl.js"></script>
	<!-- <script>
		var app = angular.module('smilefreeApp', []);
		app.controller('galleryCtrl', function($scope, $http) {
			debugger
		  $http.get("assets/documents/gallery.json")
		  .then(function(response) {
		  	debugger
		      $scope.myWelcome = response.data;
		  });
		});
	</script> -->
</body>
</html>